[defaults]
roles_path = ./roles
collections_path = ./.collections
host_key_checking = True
retry_files_enabled = False
interpreter_python = auto_silent
nocows = True

[inventory]
unparsed_is_failed = True

[ssh_connection]
pipelining = True
ssh_args = -o ControlMaster=auto -o ControlPersist=60s -o UserKnownHostsFile=%d/.ssh/overtone-infra/known_hosts
