# Managed by Ansible: administrative SSH with restricted reverse forwarding.
PubkeyAuthentication yes
PasswordAuthentication no
KbdInteractiveAuthentication no
PermitRootLogin no

AllowTcpForwarding remote
DisableForwarding no
AllowAgentForwarding no
X11Forwarding no
PermitTunnel no
GatewayPorts no
PermitListen {{ ssh_permit_listen | join(' ') }}

AllowUsers {{ ssh_allowed_users | join(' ') }}
