# Managed by Ansible. Bastion does not receive this file.
PubkeyAuthentication yes
PasswordAuthentication no
KbdInteractiveAuthentication no
PermitEmptyPasswords no
PermitRootLogin no
X11Forwarding no
AllowUsers {{ overtone_admin_user }}
